<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/user/changePassword}" th:method="post">
    <label>
        请输入用户名<input name="username" type="text">
        请输入现在使用的密码<input name="oldpassword" type="text">
        请输入新密码<input name="newpassword_first" type="password">
        请再次输入新密码<input name="newpassword_twice" type="password">
        <button type="submit">提交</button>
    </label>
</form>
<hr>
<a style="color: #dc3545" th:text="${message}" th:if="${not #strings.isEmpty(message)}"></a>
</body>
</html>