<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>COUNT</th>
        <th>PRICE</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="good : ${killed}">
            <td th:text="${good.id}"></td>
            <td th:text="${good.name}"></td>
            <td th:text="${good.count}"></td>
            <td th:text="${good.cost}"></td>
            <td>
                <form th:action="@{/toKill}" th:method="post" th:if="${session.level} == ('consumer')">
                    <input th:type="hidden" name="username" th:value="${session.username}">
                    <input th:type="hidden" name="gid" th:value="${good.id}">
                    <input th:type="hidden" name="cost" th:value="${good.cost}">
                    <button th:type="submit">点击秒杀！</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>